@font-face {
  font-family: 'Poppins';
  font-weight: 300;
  font-style: normal;
  src: url('../assets/fonts/poppins/Poppins-Light.ttf') format('woff');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 400;
  font-style: normal;
  src: url('../assets/fonts/poppins/Poppins-Regular.ttf') format('woff');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 500;
  font-style: normal;
  src: url('../assets/fonts/poppins/Poppins-Medium.ttf') format('woff');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 600;
  font-style: normal;
  src: url('../assets/fonts/poppins/Poppins-SemiBold.ttf') format('woff');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 700;
  font-style: normal;
  src: url('../assets/fonts/poppins/Poppins-Bold.ttf') format('woff');
}
